.cell {
  width: 1em;
  height: 1em;
  border: 1px solid black;
}

.red {
  background-color: red;
}

#canvas {
  margin: auto;
  background-color: white;
}

body {
  background: url("../img/bbcbg.jpg");
  background-size:cover;
}

#header {
  text-align: center;
  background-color: white;
  border-style: solid;
  margin-top: -15px;
}

#myPlayer
body {
  overflow: hidden;
  background-color: #eee;
}

iframe { display: none; }

.player {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  margin: auto;
  height: 100px;
  width: 100%;

  font-family: Helvetica, Arial, sans-serif;
  background-color: #efefef;
  background-size: cover;
  background-position: center;
  transition: background-image 1s linear;
}

.waveform {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100% 100%;
  transition: background-image 1s linear;
}

.position {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 0;

  background-color: white;
  transition: width .1s linear;
  mix-blend-mode: overlay;
}

.info {
  user-select: none;
  z-index: 5;
  position: absolute;
  height: 1em;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 5em;
  letter-spacing: -.08em;

  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;

  color: white;
  mix-blend-mode: difference;
}

#myplayerend

.instruct {
  background-color: white;
  border-style: solid;
  padding: 10px;
  /*border-width: 2px;*/
}

#update {
  padding-left: 15%;
    /*top: 50%;
    left: 50%;*/
    /*margin-right:*/
    /*transform: translate(-50%, -50%)*/
}

#clear {
  padding-left: 25%
}
